@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

* {
    color: #584B53 !important;
    font-family: 'Fugaz One', cursive;

}

.main-container {
    background:#E4BB97;
    border-radius: 10px;
    margin: 2rem 3rem !important;
    padding: 1rem 0 3rem 0;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.5);
}

.title {
    font-size: 4rem;
    font-weight: 800;
    background: #FEF5EF;
    color: #584B53;
    padding: 1rem 4rem !important;
    border-radius: 3px;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.5);
}

.minutes,
.seconds,
.colon {
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 3px 3px 10px 0 rgba(0,0,0,0.7);
}

.buttons > * {
    width: 20%;
    height: 4rem;
    margin: 0 1rem;
    font-size: 2rem !important;
    font-weight: 900 !important;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.7);
}

.divider {
    border-width: 10px;
    border-radius: 10px;
    margin: 2.5rem 3rem;
}

.card {
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.7);
    background: #FEF5EF !important;
}